<ul>
  <% @recipe.recipe_ingredients.each do |row| %>
    <li>
    <%= row.ingredient.name %> <%= row.quantity %> <%= row.unit %> 
    <%= link_to 'Edit', edit_recipe_ingredient_path(row.id) %> 
    </li>
  <% end %>
</ul>
  

