<div class=page-header><h1 class="text-center">Edit Recipe</h1></div>
<%= form_for @recipe_ingredient do |f| %>
  <form class="form-inline">
    <% [:quantity, :unit, :amount_in_grams].each do |attribute| %>
      <div class="form-group">
        <%= f.label(attribute) %>
        <%= f.text_field(attribute, class:"form-control") %>
      </div>
    <% end %>
    <%= f.submit(class:"btn btn-primary") %>
  </form>
<% end %>
