<%= form_tag("/meal_plans") do %>
  <div class="container-fluid">
    <div class="page-header">
      <h3>Create MealPlan</h3>
    </div>
    <div class="jumbotron">
      <h4>Import meal plans in Google Calendar</h4>
      <h5>Select meal plan start date</h5>
      <div id="js-datepicker"</div>
      <input type="hidden" id="js-start_date" name="start_date"/>
      <br/>
      <button type="submit" class="btn btn-success">
        Generate Meal Plans from Google Calendar
      </button>
    </div>
  </div>
<% end %>
