<form action="/google_calendar_generated_meal_plans/new" method="get">
  <div class="container-fluid">
    <div class="page-header">
      <h3>Create MealPlan</h3>
    </div>
    <div class="jumbotron">
      <h4>Option 1: Import meal plans in Google Calendar</h4>
      <h5>Select meal plan start date</h5>
      <div id="js-datepicker-start"></div>
      <input type="hidden" id="js-start_date" name="start_date"/>
      <br/>
      <button type="submit" class="btn btn-success" id="js-import-google-cal-events">
        Generate Meal Plans from Google Calendar
      </button>
    </div>
    <div class="jumbotron">
      <h4>Option 2: Create meal plan</h4>
      <p><%= render partial: 'form' %></p>
      <h5>Add new consumer:</h5>
      <p><%= render partial: 'consumers/form' %></p>
    </div>
  </div>
</form>
