<h3 class="text-center">Meal Plan's Recipes</h3>
<% if @meal_plan.recipes.present? %>
  <ul class="list-group">
    <% @meal_plan.recipes.each do |recipe| %>
      <li class="list-group">
        <%= recipe.name %> (<%= recipe.number_of_servings %> Servings)
      </li>
    <% end %>
  </ul>
<% end %>
<h3 class="text-center">Add Recipes</h3>
<%= render 'meal_plan_recipes/form' %>
<% if @meal_plan.recipes.present? %>
  <h3 class="text-center">Total amount of nutrients for this meal plan</h3>
  <%= render 'ingredient_nutrients/index' %>
<% end %>
