<div class="container-fluid">
  <div class="page-header"><h3>Consumers</h3></div>
  <ul class="list-group">
    <% @consumers.each do |consumer| %>
      <li class="list-group-item">
        <%= link_to consumer.name, consumer_path(consumer) %>
      </li>
    <% end %>
  </ul>
</div>
