<div class="container-fluid">
  <div class="page-header"><h3><%= @consumer.name %></h3></div>
  <%= link_to 'Edit', edit_consumer_path(@consumer) %>
  <%= link_to(
    'Delete', 
    consumer_path(@consumer), 
    method: :delete, 
    data: { confirm: 'Are you sure?' } 
  ) %>
</div>
