<%= form_for @recipe do |f| %>
  <form class="form-inline">
    <div class="form-group">
      <%= f.label(:name) %>
      <%= f.text_field(:name, class:"form-control") %>
    <%= f.submit(class:"btn btn-primary") %>
  </form>
<% end %>
