<div class="container-fluid">
  <ul class="list-group">
    <% @recipes.each do |recipe| %>
      <li class="list-group-item">
        <%= link_to recipe.name, recipe_path(recipe) %>
      </li>
    <% end %>
  </ul>
</div>
