<h1 class="page-header">Select recipe to add ingredients</h1>
<ul class="list-group">
  <% @recipes.each do |recipe| %>
    <li class="list-group"><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
</ul>
