<div class="container-fluid">
  <div class="page-header"><h3>Ingredients</h3></div>
  <ul class="list-group">
    <% @ingredients.each do |ing| %>
      <li class="list-group-item"><%= link_to ing.name.capitalize!, ingredient_path(ing) %></li>
    <% end %>
  </ul>
</div>
